<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/assets/icon-6d888708.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
        <title>Notebook</title>
        <script type="module" crossorigin src="/assets/index-ee343a2a.js"></script>
        <link rel="stylesheet" href="/assets/index-a56beb47.css">
        <style>
            body {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 100vh;
            }
        </style>
    </head>
    <body>
        <div id="">
            <h2>Oops!</h2>
            <p>Sorry, an unexpected error has occurred.</p>
            <a href="/">Return to home page</a>
        </div>
    </body>
</html>
